In [116]:
#套件
import pandas as pd
import numpy as np
from sklearn.tree import DecisionTreeClassifier
import json
from numpy import genfromtxt
from sklearn.tree import DecisionTreeClassifier # Import Decision Tree Classifier
from sklearn.model_selection import train_test_split # Import train_test_split function
from sklearn import metrics #Import scikit-learn metrics module for accuracy calculation
from sklearn.preprocessing import LabelEncoder
from sklearn import preprocessing 
from sklearn.preprocessing import StandardScaler
import statistics
import copy

In [117]:
#亂打的東西
# age: continuous.
# workclass: Private, Self-emp-not-inc, Self-emp-inc, Federal-gov, Local-gov, State-gov, Without-pay, Never-worked.
# fnlwgt: continuous.
# education: Bachelors, Some-college, 11th, HS-grad, Prof-school, Assoc-acdm, Assoc-voc, 9th, 7th-8th, 12th, Masters, 1st-4th, 10th, Doctorate, 5th-6th, Preschool.
# education-num: continuous.
# marital-status: Married-civ-spouse, Divorced, Never-married, Separated, Widowed, Married-spouse-absent, Married-AF-spouse.
# occupation: Tech-support, Craft-repair, Other-service, Sales, Exec-managerial, Prof-specialty, Handlers-cleaners, Machine-op-inspct, Adm-clerical, Farming-fishing, Transport-moving, Priv-house-serv, Protective-serv, Armed-Forces.
# relationship: Wife, Own-child, Husband, Not-in-family, Other-relative, Unmarried.
# race: White, Asian-Pac-Islander, Amer-Indian-Eskimo, Other, Black.
# sex: Female, Male.
# capital-gain: continuous.
# capital-loss: continuous.
# hours-per-week: continuous.
# native-country: United-States, Cambodia, England, Puerto-Rico, Canada, Germany, Outlying-US(Guam-USVI-etc), India, Japan, Greece, South, China, Cuba, Iran, Honduras, Philippines, Italy, Poland, Jamaica, Vietnam, Mexico, Portugal, Ireland, France, Dominican-Republic, Laos, Ecuador, Taiwan, Haiti, Columbia, Hungary, Guatemala, Nicaragua, Scotland, Thailand, Yugoslavia, El-Salvador, Trinadad&Tobago, Peru, Hong, Holand-Netherlands.
# class: >50K, <=50K

# print(df.filter(items=['workclass']))
# data_name = np.genfromtxt("adult.names3",delimiter=' ,', dtype=None, encoding='UTF-8')
# data= np.genfromtxt("adult.names2",delimiter=' ,', dtype=None, encoding='UTF-8')

# workclass_count = train_data.value_counts('workclass')
# print(workclass_count)

# x = [x.strip() for x in x.split(',')] 

# data_name_x = np.genfromtxt("adult.names1",delimiter=' ,', dtype=None, encoding='UTF-8')
# data_name_y = np.genfromtxt("adult.names2",delimiter=' ,', dtype=None, encoding='UTF-8')
# data_name_y=data_name_y.tolist()
# print(type(data_name_y))
# print(data_name_y)
# print(len(data_name_y))


# i=0 
# while i<= len(data_name_y)-1:
#     x=data_name_y[i]
#     x = [x.strip() for x in x.split(',')]
#     # print(x)
#     i_1=0
#     while i_1<=len(x)-1:
#         if i_1 == 0:
#             data_name_z=x[0]
#             data_name_z_list=[]
#         else :
#             data_name_z_list.append(x[i_1])
#         dic={data_name_z:data_name_z_list}
#         if i_1!=0:
#             merged_dict = dic.copy()
#             for key, value in dict2.items():
#                 merged_dict[key] = value
#         i_1=i_1+1

#     print(dic)
    
    

#     print(merged_dict)
#     data.update(dic)
#     data=pd.DataFrame(dic)
#     print(data)
#     print("------------------------------------------------")
#     i=i+1

# statistics.mode(train_data['workclass'])

In [118]:
#資料前處例
train_data = pd.read_csv('adult.data', header= None, names=['age', 'workclass', 'fnlwgt', 'education', 'education-num', 'marital-status', 'occupation', 'relationship', 'race', 'sex', 'capital-gain', 'capital-loss', 'hours-per-week', 'native-country', 'class'])
print("各項nan記錄加總:")
print("------------------------------------------------")
train_data.apply(lambda x : np.sum(x == " nan"))
train_data = train_data.replace(' ?', np.nan)
train_data.info()
train_data.describe()

各項nan記錄加總:
------------------------------------------------
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32561 entries, 0 to 32560
Data columns (total 15 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   age             32561 non-null  int64
 1   workclass       30725 non-null  object
 2   fnlwgt          32561 non-null  int64
 3   education       32561 non-null  object
 4   education-num   32561 non-null  int64
 5   marital-status  32561 non-null  object
 6   occupation      30718 non-null  object
 7   relationship    32561 non-null  object
 8   race            32561 non-null  object
 9   sex             32561 non-null  object
 10  capital-gain    32561 non-null  int64
 11  capital-loss    32561 non-null  int64
 12  hours-per-week  32561 non-null  int64
 13  native-country  31978 non-null  object
 14  class           32561 non-null  object
dtypes: int64(6), object(9)
memory usage: 3.7+ MB

,age,fnlwgt,education-num,capital-gain,capital-loss,hours-per-week
count,32561.000000,3.256100e+04,32561.000000,32561.000000,32561.000000,32561.000000
mean,38.581647,1.897784e+05,10.080679,1077.648844,87.303830,40.437456
std,13.640433,1.055500e+05,2.572720,7385.292085,402.960219,12.347429
min,17.000000,1.228500e+04,1.000000,0.000000,0.000000,1.000000
25%,28.000000,1.178270e+05,9.000000,0.000000,0.000000,40.000000
50%,37.000000,1.783560e+05,10.000000,0.000000,0.000000,40.000000
75%,48.000000,2.370510e+05,12.000000,0.000000,0.000000,45.000000
max,90.000000,1.484705e+06,16.000000,99999.000000,4356.000000,99.000000

In [119]:
#各個特徵資料加總紀錄
data_name = np.genfromtxt("adult.names3",delimiter=' ,', dtype=None, encoding='UTF-8')
print("各項特徵值的加總:")
i=0
while i<len(data_name): 
    y=data_name[i]
    y_count = train_data.value_counts(y)
    print(y_count)
    print("------------------------------------------------")
    i=i+1

各項特徵值的加總:
age
36    898
31    888
34    886
23    877
35    876
     ...
83      6
85      3
88      3
86      1
87      1
Name: count, Length: 73, dtype: int64
------------------------------------------------
workclass
 Private             22696
 Self-emp-not-inc     2541
 Local-gov            2093
 State-gov            1298
 Self-emp-inc         1116
 Federal-gov           960
 Without-pay            14
 Never-worked            7
Name: count, dtype: int64
------------------------------------------------
fnlwgt
164190     13
203488     13
123011     13
113364     12
121124     12
           ..
158776      1
158784      1
158800      1
158810      1
1484705     1
Name: count, Length: 21648, dtype: int64
------------------------------------------------
education
 HS-grad         10501
 Some-college     7291
 Bachelors        5355
 Masters          1723
 Assoc-voc        1382
 11th             1175
 Assoc-acdm       1067
 10th              933
 7th-8th           646
 Prof-school       576
 9th               514
 12th              433
 Doctorate         413
 5th-6th           333
 1st-4th           168
 Preschool          51
Name: count, dtype: int64
------------------------------------------------
education-num
9     10501
10     7291
13     5355
14     1723
11     1382
7      1175
12     1067
6       933
4       646
15      576
5       514
8       433
16      413
3       333
2       168
1        51
Name: count, dtype: int64
------------------------------------------------
marital-status
 Married-civ-spouse       14976
 Never-married            10683
 Divorced                  4443
 Separated                 1025
 Widowed                    993
 Married-spouse-absent      418
 Married-AF-spouse           23
Name: count, dtype: int64
------------------------------------------------
occupation
 Prof-specialty       4140
 Craft-repair         4099
 Exec-managerial      4066
 Adm-clerical         3770
 Sales                3650
 Other-service        3295
 Machine-op-inspct    2002
 Transport-moving     1597
 Handlers-cleaners    1370
 Farming-fishing       994
 Tech-support          928
 Protective-serv       649
 Priv-house-serv       149
 Armed-Forces            9
Name: count, dtype: int64
------------------------------------------------
relationship
 Husband           13193
 Not-in-family      8305
 Own-child          5068
 Unmarried          3446
 Wife               1568
 Other-relative      981
Name: count, dtype: int64
------------------------------------------------
race
 White                 27816
 Black                  3124
 Asian-Pac-Islander     1039
 Amer-Indian-Eskimo      311
 Other                   271
Name: count, dtype: int64
------------------------------------------------
sex
 Male      21790
 Female    10771
Name: count, dtype: int64
------------------------------------------------
capital-gain
0        29849
15024      347
7688       284
7298       246
99999      159
         ...
1455         1
4931         1
2538         1
1639         1
6097         1
Name: count, Length: 119, dtype: int64
------------------------------------------------
capital-loss
0       31042
1902      202
1977      168
1887      159
1848       51
        ...
2282        1
1844        1
155         1
2080        1
1944        1
Name: count, Length: 92, dtype: int64
------------------------------------------------
hours-per-week
40    15217
50     2819
45     1824
60     1475
35     1297
      ...
92        1
94        1
87        1
82        1
74        1
Name: count, Length: 94, dtype: int64
------------------------------------------------
native-country
 United-States                 29170
 Mexico                          643
 Philippines                     198
 Germany                         137
 Canada                          121
 Puerto-Rico                     114
 El-Salvador                     106
 India                           100
 Cuba                             95
 England                          90
 Jamaica                          81
 South                            80
 China                            75
 Italy                            73
 Dominican-Republic               70
 Vietnam                          67
 Guatemala                        64
 Japan                            62
 Poland                           60
 Columbia                         59
 Taiwan                           51
 Haiti                            44
 Iran                             43
 Portugal                         37
 Nicaragua                        34
 Peru                             31
 Greece                           29
 France                           29
 Ecuador                          28
 Ireland                          24
 Hong                             20
 Trinadad&Tobago                  19
 Cambodia                         19
 Laos                             18
 Thailand                         18
 Yugoslavia                       16
 Outlying-US(Guam-USVI-etc)       14
 Hungary                          13
 Honduras                         13
 Scotland                         12
 Holand-Netherlands                1
Name: count, dtype: int64
------------------------------------------------
class
 <=50K    24720
 >50K      7841
Name: count, dtype: int64
------------------------------------------------

In [154]:
#Nan替換成眾數
train_data['workclass'] = train_data['workclass'].replace(float('nan'),' Private')
train_data['occupation'] = train_data['occupation'].replace(float('nan'),' Prof-specialty')
train_data['native-country'] = train_data['native-country'].replace(float('nan'),' United-States')

In [155]:
train_data.isnull().sum(axis=0)

age               0
workclass         0
fnlwgt            0
education         0
education-num     0
marital-status    0
occupation        0
relationship      0
race              0
sex               0
capital-gain      0
capital-loss      0
hours-per-week    0
native-country    0
class             0
dtype: int64

In [122]:
#處理名目，先轉換成數字
#One Hot Encoding (Dummies)
data_dum = pd.get_dummies(train_data, dtype=int)
pd.DataFrame(data_dum)

,age,fnlwgt,education-num,capital-gain,capital-loss,hours-per-week,workclass_ Federal-gov,workclass_ Local-gov,workclass_ Never-worked,workclass_ Private,...,native-country_ Scotland,native-country_ South,native-country_ Taiwan,native-country_ Thailand,native-country_ Trinadad&Tobago,native-country_ United-States,native-country_ Vietnam,native-country_ Yugoslavia,class_ <=50K,class_ >50K
0,39,77516,13,2174,0,40,0,0,0,0,...,0,0,0,0,0,1,0,0,1,0
1,50,83311,13,0,0,13,0,0,0,0,...,0,0,0,0,0,1,0,0,1,0
2,38,215646,9,0,0,40,0,0,0,1,...,0,0,0,0,0,1,0,0,1,0
3,53,234721,7,0,0,40,0,0,0,1,...,0,0,0,0,0,1,0,0,1,0
4,28,338409,13,0,0,40,0,0,0,1,...,0,0,0,0,0,0,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32556,27,257302,12,0,0,38,0,0,0,1,...,0,0,0,0,0,1,0,0,1,0
32557,40,154374,9,0,0,40,0,0,0,1,...,0,0,0,0,0,1,0,0,0,1
32558,58,151910,9,0,0,40,0,0,0,1,...,0,0,0,0,0,1,0,0,1,0
32559,22,201490,9,0,0,20,0,0,0,1,...,0,0,0,0,0,1,0,0,1,0
32560,52,287927,9,15024,0,40,0,0,0,0,...,0,0,0,0,0,1,0,0,0,1

In [123]:
data_dum.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32561 entries, 0 to 32560
Columns: 107 entries, age to class_ >50K
dtypes: int32(101), int64(6)
memory usage: 14.0 MB

In [124]:
np.mean(data_dum)

1785.432598828884

In [125]:
#split dataset in features and target variable
feature_cols = ['age', 'workclass', 'fnlwgt', 'education', 'education-num', 'marital-status', 'occupation', 'relationship', 'race', 'sex', 'capital-gain', 'capital-loss', 'hours-per-week', 'native-country', 'class']
x = train_data[feature_cols] # Features
y = train_data["class"] # Target variable
# print(x)
# print(y)

# Split dataset into training set and test set
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.3, random_state=1) # 70% training and 30% test
# print(x_train)
# print(x_test)
# print(y_train)
# print(y_test)

# Create Decision Tree classifer object
clf = DecisionTreeClassifier()

# Train Decision Tree Classifer
clf = clf.fit(x_train,y_train)

#Predict the response for test dataset
y_pred = clf.predict(x_test)

ValueError: could not convert string to float: ' Self-emp-inc'